:root {
	--green: #00FF00;
	--white: #FFFFFF;
	--black: #000000;
	--bggreen: #336633;
	--border_color: #ffcc33;
	--red: #FF0000;
	--off_brown: #E9DFA8;
	--dark_grey: #A9A9A9;
	--side_green: #7A9900;
	--face_blue: #3b5998;
}
* {
	box-sizing: border-box;
}
.back {
	background: var(--white);
	max-width: 1080px;
	margin: 0 auto;
	float: none;
}
.main-box {
	display: flex;
	flex-direction: column;
}
.header_nav {
	display: flex;
	flex-direction: column
}
.header {
	background: var(--white);
	width: max-width;
	text-align: center;
	color: var(--black);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 162px;
	padding: 5px;
}
.left_logo {
	background: var(--white);
	padding: 7px 0px;
	width: 229px;
}
.header h1 {
	text-align: center;
	padding: 40px 0px;
	font-size: 25px;
}
.header .icon {
	display: none;	
}
.right_logo {
	height: 157px;
	background: var(--white);
}
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: var(--dark_grey);	
	margin: 0 0 30px;
}
.navbar a {
	text-align: center;
	color: var(--black);
	height: 3.2em;
	width: 100px;
	line-height: 3.2em;
	text-decoration: none;
	margin-left: -2px;
	font-weight: bold;
}
.navbar a:hover,
.navbar a.active {
	background-color: var(--white);
	color: var(--black);
}
.navbar .icon {
	display: none;	
}
/*@media screen and (max-width: 720px) {
	.header_nav {
		flex-direction: row;
	}
	.header {
		flex: 80%	
	}
	.left_logo,
	.right_logo {
		display: none;	
	}
	.navbar a {
		display: none;	
	}
	.navbar a.icon {
		float: right;
		display: block;
	}
}
@media screen and  (max-width: 720px) { 
	.navbar.responsive {
		position: relative;	
	}
	.navbar.responsive .icon {
    	position: absolute;
    	right: 0;
    	top: 0;
 	}
	.navbar.responsive h,
  	.navbar.responsive a {
    	float: none;
    	display: block;
    	text-align: center;
  	}
}*/
.main {
	background: var(--white);
}
.slider {
	width: max-width;
	text-align: center;
}
.slider .contents {
	position: relative;
	height: calc(100vw * .363);
}
@media (min-width: 1080px) {
	.slider .contents {
		height: calc(1080px * .363);	
	}
}
.slider .contents img {
	width: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
	transition: opacity ls;
}
.slider .contents img.shown {
	opacity: 1;	
}
.opening_gif {
	float: left;
	padding: 5px;
}
.opening_greeting {
	
}
.opening_greeting p {
	padding: 10px;	
}
.important {
	display: block;
	text-align: center;	
	background: var(--red);
	padding: 10px;
}
.important h1 {
	text-align: center;
	font-size: 20px;
	padding: 5px;
}
.important_text {
	background: var(--off_brown);
	text-align: center;
	padding: 10px;
}
.important_text h2 {
	text-align: center;
	font-size: 20px;
	padding: 5px;
}
.hours {
	text-align: center;
	padding: 10px;
}
.hours h {
	font-size: 20px;
}
.about_us {
	text-align: center;
	padding: 10px;
}
.about_us h {
	font-size: 20px;
	text-decoration: underline;
}
.contact_us {
	padding: 10px;
	text-align: center;
}
.contact_us h {
	font-size: 20px;
	text-decoration: underline;
}
.general_links {
	text-align: center;
}
.general_links h {
	font-weight: bold;
	font-size: 20px;	
}
#poi a {
	color: var(--black);	
}
#poi ul {
	list-style: none;

}
#poi li {
	width: 240px;
	margin-top: 10px;
	margin-right: 30px;
	display: inline-block;
}
.additional_links {
	text-align: center;
}
.additional_links h{
	font-weight: bold;
	font-size: 20px;	
}
#addition a {
	color: var(--black);
}
#addition li {
	text-align: left;
	list-style: none;
}
#acc a {
	color: var(--black);	
}
#acc li { 
	text-align: left;
	list-style: none;
}
.footer {
	overflow: hidden;
	padding: 5px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: var(--dark_grey);
	width: max-width;
	font-size: 8px;
	align-items: center;

}
.contact_footer {
	flex: 33%;
}
.contact_footer a {
	color: var(--black);
	text-decoration: none;	
}
.center_footer {
	flex: 33%;
}
.social_footer {
	flex: 33%;
}
.social_footer img {
	width: 40px;
	height: 40px;
}

